<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Atualizar cartão</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div id="cartoes">
        <form action="/action_page.php">
          <label for="fname">Número do cartão</label>
          <input
            [(ngModel)]="cartao.numeroCartao"
            type="text"
            id="fnumber"
            name="numerocartao"
            placeholder="Digite aqui"
          />
          <br>
          <br>

          <label for="country">Status do cartão</label>
          <select [(ngModel)]="cartao.status" id="status" name="status">
            <option selected>Escolher</option>
            <option value="ativo">Ativo</option>
            <option value="inativo">Inativo</option>
          </select>
          <br>
          <br>

          <label for="country">Tipo do cartão</label>
          <select [(ngModel)]="cartao.tipoCartao" id="tipo" name="tipo">
            <option selected>Escolher</option>
            <option value="comum">Comum</option>
            <option value="estudante">Estudante</option>
            <option value="trabalhador">Trabalhador</option>
          </select>
          <br>
          <br>

          <div class="form-group">
            <label for="usuario"
              >Escolha um usuário ou
              <a routerLink="/usuario">Cadastre um novo</a>:</label
            >
            <select
              name="usuario"
              id="usuario"
              class="form-control"
              [(ngModel)]="idUsuario"
              (change)="findByIdUsuario()"
            >
              <option *ngFor="let item of listaUsuarios" value="{{ item.id }}">
                {{ item.apelido }}
              </option>
            </select>
          </div>
          <br>
          <br>

          <div class="d-flex justify-content-center">
            <button class="btn btn-danger m-1" routerLink='/inicio'>Cancelar</button>
            <button class="btn btn-success m-1" (click)='atualizar()'>Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
